* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(photo.jpeg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
}


/*------------------------*/
/* HEADER */
/*------------------------*/

/*----- LOGO -----*/
.logo {
    text-align: center;
    margin: 40px 0 60px 0;
}

.logo span {
    text-transform: uppercase;
    color: #e67e22;
}

/*----- NAVIGATION -----*/
nav ul {
    display: block;
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-bottom: 20px;
}

nav a:link,
nav a:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin: 0 10px;
    padding-bottom: 8px;
    border-bottom: 2px solid transparent;
}

nav a:hover,
nav a:active {
    border-bottom: 2px solid #e67e22;
}

nav li:after {
    content: "|";
    display: inline-block;
    margin-left: 2px;
}

nav li:last-child::after {
    content: "";
}


/*------------------------*/
/* MAIN CONTENT */
/*------------------------*/

/*----- MAIN TEXT IN CENTER ----*/
.main-text {
    margin-top: 80px;
    text-align: center;
}

.main-text h1 {
    font-size: 55px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/*----- BUTTON -----*/
.btn:link,
.btn:visited {
    margin-top: 80px;
    margin-bottom: 40px;
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #e67e22;
    border-radius: 100px;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}
